.mid-apply-section{
    width: 75%;
    margin: 4rem auto;
    display: flex;
    gap: 2rem;
    .mid-apply-section__form{      
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        .start-testimonial{
            width: 100%;
            background-color: var(--card-bg-black);
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            h2{
                text-align: center;
                font-family: var(--font-nanum);
                font-weight: 400;
            }
            .testimonial-detail{
                display: flex;
                width: 100%;
                gap: 1.5rem;
                justify-content:center;
                align-items: center;
                .client-detail{
                    display: flex;
                    flex-direction: row;
                
                }
       
            }
            img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: white;
            }
            p{
                word-spacing: 0.3rem;
                font-size: 1.2rem;
                font-weight: 400;
                font-family: var(--font-base);
                text-align: center;
                span{
                    text-transform: capitalize;
                    color: var(--text-hover);
                }
                
             
            }

            .para{
                color: var(--primary-color);
                text-transform: none;
                text-align: center;
            }

            h2{
                color: var(--text-hover);
            }
        }

        a{
            
            display: flex;
            width: 200px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 1rem 2.5rem;
            border-radius: 5px;
            font-size: 1.2rem;
            background: linear-gradient(
                0.25turn,            
                var(--header-green),                                                                                                                    
                var(--button-green)                                                               

            );
            &:hover{
                background: var(--button-green-hover);
            }
        }

        @media screen and (max-width: 768px){
            width: 100%;
            padding: 1rem;
        }



    }


    .mid-apply-section_image{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: left;

        .heading{
            margin-bottom: 2rem;
            p{
                font-family: 'Times New Roman', Times, serif;
                font-size: 1.6rem;
                font-weight: 600;
                color: #90080A;
                padding-bottom: 1rem;
            }
            h1{
                font-family: var(--font-opensans);
                font-size: 3rem;
                color: var(--text-hover);
                letter-spacing: 1.2rem;
                padding-bottom: 1rem;
                margin-top: 1rem;
                text-align: center;
                span{
                    font-size: 1.5rem;
                }
                font-weight: 500;
                @media screen and (max-width: 1300px){
                    font-weight: 300;
                    
                }
                
                text-transform: uppercase;
            }
            .gold{
                color: var(--button-green-green);
            }
        }

        .video-container_coffee {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .image2{
                display: flex;
                justify-content: center;
                position: relative;
                cursor: pointer;
                img{      
                    width: 60%;
                    border-radius: 15px;
                }
    
                video{
                    width: 60%;
                }

                .play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: rgba(0, 0, 0, 0.5); /* Light red background similar to YouTube */
                    color: white; /* White play icon */
                    border: none;
                    border-radius: 50%; /* Circular button */
                    padding: 1.5rem 1.75rem;
                    font-size: 30px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
                    transition: transform 0.2s ease;
                  }
                  
                  .play-button:hover {
                    transform: translate(-50%, -50%) scale(1.1);
                    background: rgba(0, 0, 0, 0.6); /* Darker red on hover */
                  } 
                  
                  @media screen and (max-width: 768px){        
                    width: 100%;
                    
                    img{
                        width: 80%;
                    
                    }
                    video{
                        width:80%
                    }
                    
                }
                  
            }
            
        }

        .image2{
            display: flex;
            justify-content: center;
            img{      
                width: 60%;
                border-radius: 15px;
            }

            video{
                width: 60%;
            }
        }
        .image{

            display: flex;
            justify-content: center;
            img{
                border-radius: 1rem;
                width: 100%;
    
            }

            video{
                border-radius: 15px;
                width: 100%;
            }
        }




        @media screen and (max-width: 768px){
            margin: 0;
            width: 100%;
            align-items: center;
            .heading{
                p{
                    font-size: 1.4rem;
                }
                h1{
                    font-size: 2rem;
                    // font-size: 2.5rem;
                    span{
                        font-size: 1.2rem;
                    }
                    letter-spacing: 0.5rem;
                }
                .gold{
                    color: var(--button-green);
                }
            }
            .image2{
                width: 100%;
                
                img{
                    width: 80%;
                
                }
                video{
                    width: 80%
                }
            }

            .image{
                img{
                    padding: 1rem;
                    width: 100%;
                    border-radius: 15px;
                }
    
                video{
                    padding: 1rem;
                    border-radius: 15px;
                    width: 100%;
                }

            }

        }


    }
    @media screen and (max-width: 768px){
        margin: 0;
        flex-direction: column-reverse;
        width: 100%;
        margin: 2rem 0;
    }

}



.course-feature{
    width: 100%;
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .heading{   
        p{
            text-align: center;
        }  
        font-family: var(--font-display);  
        width: 90%;
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--primary-color);
        padding-bottom: 1rem;

        margin-bottom: 2rem;
    }

    .desc{
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 600;
        color: var(--text-hover);
        padding-bottom: 1rem;
        word-spacing: 0.3rem;

        margin-bottom: 2rem;
    }
    img{
        width: 15%;
        border-radius: 15px;
    }

    .four-dots{
        display: flex;
        gap: 0.3rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        .dot{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--primary-color);
        }
        @media screen and (max-width: 768px){
            margin-bottom: 1rem;
        }
    }
    @media screen and (max-width: 768px){
        width: 100%;
        padding-top: 2rem;
        .heading{
           padding: 1rem;
            width: 100%;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
        .desc{
            text-align: center;
            width: 80%;
            font-size: 14px;
            margin-bottom: 1rem;
        }
        img{
            width: 30%;
        }
                

    }
}


.timeline-section{
    width: 85%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .timeline-section__left{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        h1{
            line-height: 1;
            width: 100%;
            font-family: var(--font-display);
            font-size: 3.4rem;
            font-weight: 500;
            color: var(--primary-color);
            margin-bottom: 2rem;
            @media screen and (max-width: 768px){
                width: 100%;
                font-size: 2.5rem;
                text-align: center;
            }
        }

        p{
            margin-bottom: 1rem;
            width: 80%;
            font-family: var(--font-secondary);
            font-size: 1.2rem;
            font-weight: 400;
            padding-bottom: 1rem;
            word-spacing: 0.3rem;

            @media screen and (max-width: 768px){
                margin-bottom: 0.5rem;
                width: 100%;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                
            }
        }

        a{
            padding: 1rem 2.5rem;
            border-radius: 5px;
            font-size: 1.2rem;
            width: fit-content;
            background: linear-gradient(
                0.25turn,            
                var(--header-green),                                                                                                                    
                var(--button-green)                                                               
    
            );
            &:hover{
                background: var(--button-green-hover);
            }
            @media screen and (max-width: 768px){
                margin: 0 auto;
                // padding: 1rem;
                font-size: 1.2rem;
                text-align: center;
                padding: 1rem 2rem;
                margin-top: 1rem;
                // width: 80%;
            }
    
        }

        @media screen and (max-width: 768px){
            width: 100%;
            padding: 1rem;            
            
        }
        
    }

    .timeline-section__right{
        display: flex;
        justify-content: center;
        align-items: left;
        width: 55%;


        .timeline{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: left;
          
            .timeline-item{
                border-left: 3px solid var(--text-hover);
                padding: 2rem 0;
                @media screen and (max-width: 768px){
                    padding: 1rem 0;
                }
            }

            .timeline-content{
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 1rem;
                .timeline-arrow{
                    width: 30px;
                    height: 2px;
                    background-color: var(--text-hover);
                    @media screen and (max-width: 768px){
                        width: 20px;
                    }
                }

                .timeline-innercontent{
                    display: flex;
                    gap: 1.5rem;
                    justify-content: center;
                    align-items: center;
                    .icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-height: 70px;
                        min-width: 70px;
                        border-radius: 50%;
                        
                        border: 1px solid var(--button-green-green);
                        img{
                            padding: 0.3rem;
                            width: 50px;
                            height: 50px;
                            color: var(--primary-color);
                       
                        }
                        @media screen and (max-width: 768px){
                            min-height: 50px;
                            min-width: 50px;
                            svg{
                                font-size: 1.8rem;      
                            }
                        }
                    }

                    p{
                        color: var(--text-hover);
                        font-size: 1.3rem;
                        font-weight: 600;
                        @media screen and (max-width: 768px){
                            font-size: 16px;
                        }
                    }

                    @media screen and (max-width: 768px){
                        gap: 1rem;
                    }
                }


            }

            @media screen and (max-width: 768px){
                width: 100%;
                padding: 1rem;
            }
        }
       
        
        @media screen and (max-width: 768px){
            width: 100%;    

        }

    }

    @media screen and (max-width: 768px){
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        align-items: center;
        gap: 4rem;
        
        
    }
    
}



.program-details{
    width: 75%;
    margin: 2rem auto;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .heading{   
        text-align: center;
        font-family: var(--font-display);  
        width: 60%;
        font-size: 3.4rem;
        color: var(--primary-color);
        font-weight: 400;
        padding-bottom: 1rem;
        @media screen and (max-width: 768px){
         font-size: 2rem;   
         width: 100%;
         margin-bottom: 1rem;        
        }
    }

    .image{
        width: 20%;
        margin-bottom: 3rem;
        @media screen and (max-width: 768px){
            width: 30%;
            margin-bottom: 1rem;
                   
        }
    }

    .details{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1{
                font-family: var(--font-display);
                font-size: 3.5rem;
                font-weight: 400;
                letter-spacing: 0.2rem;
                color: var(--primary-color);
            }
            @media screen and (max-width: 768px){
                flex-direction: column;
                gap: 1rem;
                h1{
                    font-size: 2rem;
                    letter-spacing: 0.1rem;
                }
                margin-bottom: 0;   
  
            }
        }

        a{
          
            padding: 1rem 2.5rem;
            border-radius: 5px;
            font-size: 1rem;
            background: linear-gradient(
                0.25turn,            
                var(--header-green-green),                                                                                                                    
                var(--button-green-green)                                                               
    
            );
            &:hover{
                background: var(--button-green-hover-green);
            }
    
        
        }

       .separator{
            width: 100%;
            height: 1px;
            border-bottom: 2px dotted var(--text-hover);                
    
        }       

        .detail-content{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            align-items: center;
            justify-content: space-between;

            .card{
                flex:45%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 2rem;
                background-color: var(--card-bg-black);
                border-radius: 15px;
                box-shadow: 0 0 10px rgba(0,0,0,0.2);
                transition: all 0.3s ease-in-out;
                height: 220px;
                &:hover{
                    transform: scale(1.02);
                    border: 1px solid var(--text-hover);
                }

                .card-header{

                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    justify-content: center;
                    align-items: center;
                    .icon{
                        position: relative;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: var(--text-hover);
                        img{          
                            width: 100%;                  
                            position: absolute;
                            bottom: -80%;
                            left: 70%;
                            transform: translate(-50%, -50%);
                            
                            
                        }
                        svg{                            
                            position: absolute;
                            bottom: -70%;
                            font-size: 3rem;
                            left: 80%;
                            transform: translate(-50%, -50%);
                            
                            
                        }
                    }
                    h1{
                        font-family: var(--font-secondary);
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: var(--primary-color);
                    }

                }

                .card-content{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-family: var(--font-secondary);
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: var(--text-hover);
                        text-align: center;
                    }
                }
                @media screen and (max-width: 768px){
                    flex: 100%;
                    height: 200px;
                    padding: 1rem;
                    .card-header{
                        h1{
                            font-size: 1.4rem;
                        }
                    }
                    .card-content{
                        p{
                            font-size: 1rem;
                        }
                    }
                
                    
                }

            }
            @media screen and (max-width: 768px){
                gap: 1rem;    


            }
        }
        

    }

    .applyHere{
        margin-top: 4rem;
        a{
            font-family: var(--font-opensans);
            padding: 1rem 3.5rem;
            border-radius: 5px;
            text-transform: uppercase;
            // font-weight: 500;
            font-size: 1.5rem;
            width: fit-content;
            outline: 0;
            border: 0;
            background: linear-gradient(
                0.25turn,            
                var(--header-green),                                                                                                                    
                var(--button-green)                                                               
    
            );
            &:hover{
                background: var(--button-green-hover);
            }
            @media screen and (max-width: 768px){
                margin: 0 auto;
                padding: 1rem;
                font-size: 1.3rem;
                text-align: center;
                width: 80%;
            }

        }
    }

    @media screen and (max-width: 768px){
        margin-top: 2rem;
        width: 100%;
        padding: 1rem;
    }

}

.home-quoate{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8rem 0;
    margin: 6rem 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
    background-image: linear-gradient(
        0.75turn,         
        rgba(0,0,0,0.1),                                                                                                                                                                                                                                 
        rgba(10, 135, 105,1)
                                                              

    );
    // box-shadow: 0 0 80px black;
    .home-heading{      
        text-align: center;
        font-family: var(--font-nanum);  
        width: 80%;
        text-transform: capitalize;
        font-size: 2.3rem;
        font-weight: 600;
        color: var(--primary-color);
        padding-bottom: 1rem;
        @media screen and (max-width: 768px){
            font-size: 1.6rem;
            width: 100%;           
        }



    }
    p{
        font-size: 1.5rem;
        font-weight: 400;
        @media screen and (max-width: 768px){
            font-size: 1rem;
        }
    }


    @media screen and (max-width: 768px){
        padding: 2rem 1rem;
        margin: 4rem 0;   
        box-shadow: 0 0 0 black;
        p{
            font-size: 16px;
        }          
    }


}