.start{
    background: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

.app__navbar{
    .app__navbarLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        img{
            width: 60px;
            height: 60px;
        }

    }

    padding: 1rem;
    width: 80%; 
    justify-content: space-between;


    .app__navbar-links{
        

        flex: 1;
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    
        list-style: none;
    
        li {
            margin: 0 1rem;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            flex-direction: column;
            font-weight: 300;
            padding: 1rem 0;
            font-size: 1.2rem;
            transition: all 0.3s ease-in-out;
      
            &:hover {
              color: var(--text-hover);
            }
        }
 
    }

    .app__navbar-button{
        
        margin: 0 1rem;
        padding: 1rem 2.5rem;
        border-radius: 5px;
        font-size: 1.2rem;
        background: linear-gradient(
            0.25turn,            
            var(--header-green),                                                                                                                    
            var(--button-green)                                                               

        );
        &:hover{
            background: var(--button-green-hover);
        }

    }

    
}
}