.app__testimonials{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h6{
        margin: 1rem 0;
        color: var(--text-hover);
        font-size: 1.2rem;
        font-weight: 600;
        word-spacing: 0.5rem;
        letter-spacing: 0.1rem;
        @media screen and (max-width: 768px){
            text-align: center;
            font-size: 0.9rem;
            word-spacing: normal;

        }
    }
    .subheading{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        p{
            font-family: var(--font-display);
            font-size: 3.2rem;
            font-weight: 600;
            word-spacing: 0.5rem;
            @media screen and (max-width: 768px){
                text-align: center;
                font-size: 1.7rem;
                word-spacing: 0.2rem;
               
            }
            
        }
        @media screen and (max-width: 768px){
           flex-direction: column; 
           width: 100%;        
        }

    }


    .app__testimonials__container{        
        display: flex;
        width: 100%;
        margin-top: 2rem;
        
        .map-pin-mark{
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            width: 100%;
            height: 100%;
            position: relative;
            img{      
                position: relative;     
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 500px;
                @media screen and (max-width: 768px){
                    width: 100%;
                    height: 220px;
                    background-position: center;
                    background-size: contain;       
                }
            }
            .dots{
                width: 100%;
                height: 100%;
                
                .dot{
                    position: absolute;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background: var(--primary-color);
                    img{
                        // filter: brightness(1);
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: center;

                    }
                    .tooltip{
                        z-index: 100;                        
                        max-width: 300px ;
                        background-color: var(--primary-color) !important;                                           
                        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
                        border-radius: 5px;
                        padding: 1rem;
                        color: black !important;
                        text-align: center;
                        line-height: 1.5;
                        opacity: 1;
                        p{
                            margin-top: 1rem;
                            width: 100%;
                            color: #191A1F;
                            font-size: 0.9rem;
                        }
                        @media screen and (min-width: 2000px) {
                            font-size: 1.75rem !important;
                            max-width: 500px !important;
                            line-height: 2 !important;
                        }
                    }

                    @media screen and (max-width: 768px){
                        width: 25px;
                        height: 25px;
                    }
        
                }
        
                div:nth-child(1){
                    
                    top: 24%;
                    left: 45%;    
                }
    
                div:nth-child(2){   
                    
                    top: 31%;
                    left: 20%;
        
                }
    
                div:nth-child(3){
                    position: absolute;
                    top: 46%;
                    right: 38%;
                }
    
                div:nth-child(4){
                    position: absolute;
                    top: 38%;
                    right: 48%;
                }

                div:nth-child(5){
                    position: absolute;
                    top: 30%;
                    right: 46%;
                }

                
                div:nth-child(6){
                    position: absolute;
                    img{
                        object-fit: cover;
                    }
                    top: 46%;
                    right: 33%;
                }
            }

 

            @media screen and (max-width: 768px){
                width: 95%;       
            }




        }
        @media screen and (max-width: 768px){
            flex-direction: column;           
        }

        .right-side{
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: end;
            gap: 1rem;
            width: 40%;

            .card{
                color: var(--black-color);
                width: 100%;
                background-color: var(--primary-color);
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                gap: 1rem;
                p{
                    text-align: center;

                }
                div{
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    .inner-card{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background: var(--black-color);
        
                    }
                    h6{
                        margin: 0;
                        color: black;
                        word-spacing: normal;
                        letter-spacing: normal;


                    }
                    p{
                        width: 100%;
                        text-align: left;
                        color: #191A1F;
                        font-size: 0.9rem;
                    }

                }
                div:nth-child(2){
                    margin-right: 0;
                }

            }

            div:nth-child(2){
                margin-right: 6rem;
            }


                
            @media screen and (max-width: 768px){
                width: 100%;
                margin-top: 2rem;
                padding: 1rem;
                div:nth-child(2){
                    margin-right: 0;
                }    
            }


        }



    }



    @media screen and (max-width: 768px){
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
    }          
   
}

.tooltip {
    max-width: 300px !important;
    background-color: var(--white-color) !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
    padding: 1rem !important;
    color: var(--gray-color) !important;
    text-align: center !important;
    line-height: 1.5 !important;
    opacity: 1 !important;
  
    @media screen and (min-width: 2000px) {
      font-size: 1.75rem !important;
      max-width: 500px !important;
      line-height: 2 !important;
    }
}