.app__testimonials{
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h6{
        margin: 1rem 0;
        color: var(--text-hover);
        font-size: 1.2rem;
        font-weight: 600;
        word-spacing: 0.5rem;
        letter-spacing: 0.1rem;
        @media screen and (max-width: 768px){
            font-size: 0.9rem;
            word-spacing: normal;

        }
    }
    .subheading{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        p{
            font-family: var(--font-display);
            font-size: 3.2rem;
            font-weight: 600;
            word-spacing: 0.5rem;
            @media screen and (max-width: 768px){
                text-align: center;
                font-size: 1.7rem;
                word-spacing: 0.2rem;
               
            }
            
        }
        @media screen and (max-width: 768px){
           flex-direction: column; 
           width: 100%;        
        }

    }


    .app__testimonials__container{
        position: relative;
        display: flex;
        width: 100%;
        margin-top: 2rem;
        img{           
            background-size: contain;
            filter: brightness(0);
            background-repeat: no-repeat;
            background-position: left;
            width: 65%;
            height: 450px; 
            @media screen and (max-width: 768px){
                width: 100%;
                height: 220px;
                background-position: center;
                background-size: cover;       
            }
        }
        
        .map-pin-mark{
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            width: 60%;
            height: 100%;
            position: absolute;
            .card{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: var(--primary-color);
                @media screen and (max-width: 768px){
                    width: 25px;
                    height: 25px;
                }
    
            }
    
            div:nth-child(1){
                position: absolute;
                top: 20%;
                left: 15%;    
            }

            div:nth-child(2){
                position: absolute;
                top: 15%;
                right: 35%;
    
            }

            div:nth-child(3){
                position: absolute;
                top: 25%;
                right: 10%;
            }

            div:nth-child(4){
                position: absolute;
                bottom: 30%;
                right: 37%;
            }
            @media screen and (max-width: 768px){
                width: 95%;       
            }

        }
        @media screen and (max-width: 768px){
            flex-direction: column;           
        }

    }

    @media screen and (max-width: 768px){
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
    }          
   
}