.app {
    background-color: var(--body-color);
    color: var(--primary-color);
    font-family: var(--font-secondary);
    position: relative;
    &.noscroll{
        overflow: hidden;
        height: 100vh;
        @media screen and (max-width: 768px) {
            // overflow: scroll;
            // overflow: hidden;
            // height: 100vh;
            
        }
    }
}

.app__container {
    width: 100%;
    min-height: 100vh;
}

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--primary-color);
    
}

.hide{
    display: none;
}

@media screen and (max-width: 767px){
    html,body{
      overflow-x: hidden! important;
    } 	
  }